<div class="w-full sm:flex">
  <div
    class="h-fit w-full sm:h-auto sm:w-56 flex-none bg-cover rounded-t md:rounded-t-none md:rounded-l text-center overflow-hidden"
    title="Woman holding a mug">
    <img [src]="event.image ? 'https://localhost:8000' + event.image : 'https://picsum.photos/200'" class="w-full"
      alt="events image">
  </div>

  <div
    class="w-full md:flex-row md:justify-around border-r border-b border-l border-gray-400 md:border-l-0 lg:border-t bg-white rounded-b md:rounded-b-none md:rounded-r p-4 flex flex-col justify-between leading-normal">
    <div class="mb-8 sm:max-w-sm lg:max-w-xl">
      <a [routerLink]="['/event/detail', event.id]" class="text-gray-900 font-bold text-xl mb-2">{{ event.name }}</a>
      <a class="ml-1.5" (click)="followEvent(event.id)">
        <fa-icon [icon]="faHeart" class="mr-1.5"
          [ngClass]="{'text-red-500': isUserParticipating, 'text-gray-500': !isUserParticipating}"
        ></fa-icon>
      </a>
      <p class="text-gray-700 text-base hidden sm:block">{{ (event.description.length > 200) ? ( event.description |
        slice:0:200) + '...': event.description}}</p>
    </div>
    <div class="flex items-center">
      <div class="text-sm">
        <p class="text-gray-900 leading-none font-bold mb-2"> Organisé par : </p>
        <div *ngFor="let organizer of event.realOrganizers">
          <a [routerLink]="['/company/detail', organizer.id]" class="text-gray-900 leading-none"> {{ organizer.name }} </a>
        </div>
      </div>
      <div class="flex justify-end w-full">
        <p class="text-gray-600 mt-2">{{ event.startDateTime | date:'d, MMMM, y H:mm':'GMT+1' }}</p>
      </div>
    </div>
  </div>
</div>
