<div class="bg-grey-200 flex items-center justify-center h-screen grow">

    <div class="bg-white p-8 rounded-lg shadow-md w-96">
        <div class="flex items-center justify-center mb-6">
            <!-- Ajouter le logo de votre application ici -->
            <img src="/assets/img/logo.png" alt="Logo" class="w-48 h-48">
        </div>

        <form [formGroup]="companyForm" (ngSubmit)="onSubmit()">
            <div class="mb-4">
                <label for="name" class="text-sm text-gray-600">Nom</label>
                <input type="text" id="name" formControlName="name"
                    class="w-full mt-2 p-2 border border-gray-300 rounded-md focus:outline-none focus:border-blue-500">
                    <div *ngIf="companyForm.get('name')?.hasError('required') && companyForm.get('name')?.touched" class="alert alert-danger text-sm text-red-600" role="alert">
                        <strong>Attention !</strong> Le nom est obligatoire
                    </div>
            </div>

            <div class="mb-4">
                <label for="type" class="text-sm text-gray-600">Type</label>
                <select name="type" id="type" formControlName="type"
                    class="w-full mt-2 p-2 border border-gray-300 rounded-md focus:outline-none focus:border-blue-500">
                    <option value="Entreprise">Entreprise</option>
                    <option value="BDE">BDE</option>
                </select>
                <div *ngIf="companyForm.get('type')?.hasError('required') && companyForm.get('type')?.touched" class="alert alert-danger text-sm text-red-600" role="alert">
                    <strong>Attention !</strong> Le type est obligatoire
                </div>
            </div>

            <div class="mb-4" *ngIf="showCategories">
                <label for="categories" class="text-sm text-gray-600">Catégories</label>
                <select name="categories" id="categories" formControlName="categories"
                    class="w-full mt-2 p-2 border border-gray-300 rounded-md focus:outline-none focus:border-blue-500">
                    <option *ngFor="let category of companyCategories" value="{{category.id}}">{{ category.name }}</option>
                </select>
            </div>

            <div class="mb-4">
                <label for="description" class="text-sm text-gray-600">Description</label>
                <textarea id="description" formControlName="description"
                    class="w-full mt-2 p-2 border border-gray-300 rounded-md focus:outline-none focus:border-blue-500">
                </textarea>
                <div *ngIf="companyForm.get('description')?.hasError('required') && companyForm.get('description')?.touched" class="alert alert-danger text-sm text-red-600" role="alert">
                    <strong>Attention !</strong> La description est obligatoire
                </div>
            </div>

            <div class="mb-4">
                <label for="location" class="text-sm text-gray-600">Emplacement</label>
                <input type="text" id="location" formControlName="location"
                    class="w-full mt-2 p-2 border border-gray-300 rounded-md focus:outline-none focus:border-blue-500">
                <div *ngIf="companyForm.get('location')?.hasError('required') && companyForm.get('location')?.touched" class="alert alert-danger text-sm text-red-600" role="alert">
                    <strong>Attention !</strong> L'emplacement est obligatoire
                </div>
            </div>

            <button (click)="createCompany()"
                class="w-full bg-blue-500 text-white p-2 rounded-md hover:bg-blue-600 focus:outline-none focus:ring focus:border-blue-300 {{ companyForm.invalid ? 'bg-gray-400 hover:bg-gray-400' : '' }}" [disabled]="companyForm.invalid">
                Créer l'entreprise
            </button>
        </form>

    </div>
</div>
