<div *ngIf="selectedEvent == null" class="w-full bg-red-600 flex justify-center">
    <p class="font-bold p-2">Erreur : Aucun événement sélectionné</p>
</div>

<div class="flex items-center justify-between p-8">
    <button (click)="backClicked()"
        class="flex items-center text-blue-500 text-sm font-semibold rounded-lg hover:bg-gray-100 focus:outline-none focus:shadow-outline focus:bg-gray-100 hover:shadow-xs p-3 my-4">
        <fa-icon [icon]="faAngleLeft"></fa-icon>
    </button>

    <span class="text-2xl font-bold">{{ selectedEvent?.name }}</span>

    <div></div> <!-- Utiliser un div vide pour pousser le texte à gauche -->
</div>


<div *ngIf="selectedEvent != null" class="flex flex-col space-y-6 m-4">

    <div class="flex flex-col space-y-4 bg-gray-100 rounded-xl p-4">
        <div class="flex items-center space-x-2">
            <div class="flex items-center justify-center bg-blue-300 p-4 rounded w-14 h-14">
                <fa-icon [icon]="faBuilding" class="text-2xl text-white"></fa-icon>
            </div>

            <div class="flex flex-col">
                <h1 class="text-lg font-semibold">{{ selectedEvent.realOrganizers.length }}</h1>
                <span class="text-gray-400">Organisateurs</span>
            </div>
        </div>

        <div class="flex items-center space-x-2">
            <div class="flex items-center justify-center bg-blue-300 p-4 rounded w-14 h-14">
                <fa-icon [icon]="faCalendar" class="text-2xl text-white"></fa-icon>
            </div>

            <div class="flex flex-col">
                <h1 class="text-lg font-semibold">{{ selectedEvent.startDateTime | date }}</h1>
                <span class="text-gray-400">Date</span>
            </div>
        </div>

        <!-- divider line -->
        <div class="border-t-2 border-gray-500 my-4"></div>

        <!-- description -->
        <div class="flex flex-col">
            <h1 class="text-lg font-semibold">Description</h1>
            <span class="text-gray-400">{{ selectedEvent.description }}</span>
        </div>
    </div>

    <div class="flex flex-col bg-gray-100 rounded-xl p-4 space-y-4">
        <div class="flex items-center space-x-2">
            <div class="flex items-center justify-center bg-blue-300 p-4 rounded w-14 h-14">
                <fa-icon [icon]="faHandshake" class="text-2xl text-white"></fa-icon>
            </div>

            <span class="text-lg font-semibold">Liste des organisateurs</span>
        </div>

        <div *ngFor="let organizer of selectedEvent.realOrganizers" class="flex flex-col space-y-2">
            <a [routerLink]="['/company/detail', organizer.id]" class="text-gray-900 leading-none">- {{
                organizer.name }} </a>
        </div>
    </div>

    <div class="flex flex-col bg-gray-100 rounded-xl p-4 space-y-4">
        <div class="flex items-center space-x-2">
            <div class="flex items-center justify-center bg-blue-300 p-4 rounded w-14 h-14">
                <fa-icon [icon]="faMapMarkerAlt" class="text-2xl text-white"></fa-icon>
            </div>

            <span class="text-lg font-semibold">Emplacement</span>
        </div>

        <span class="text-gray-400">{{ selectedEvent.location }}</span>
    </div>

    <img class="w-9/12 mb-5"
        [src]="selectedEvent.image ? 'https://localhost:8000' + selectedEvent.image : 'https://picsum.photos/200'"
        alt="No Image Found">
</div>