<div *ngIf="selectedCompany == null" class="w-full bg-red-600 flex justify-center">
    <p class="font-bold p-2">Erreur : Aucune entreprise sélectionnée</p>
</div>

<div class="flex items-center justify-between px-8 pt-8">
    <button (click)="backClicked()"
        class="flex items-center text-blue-500 text-sm font-semibold rounded-lg hover:bg-gray-100 focus:outline-none focus:shadow-outline focus:bg-gray-100 hover:shadow-xs p-3 my-4">
        <fa-icon [icon]="faAngleLeft"></fa-icon>
    </button>

    <span class="text-2xl font-bold">{{ selectedCompany?.name }}</span>

    <div></div> <!-- Utiliser un div vide pour pousser le texte à gauche -->
</div>

<div *ngIf="selectedCompany != null" class="flex flex-col space-y-6 m-4">
    <div class="shadow-lg rounded-lg bg-white p-4 flex items-center space-x-4">
        <!-- img -->
        <div class="flex-shrink-0">
            <img class="h-24 w-24 rounded-full" src="https://i.pravatar.cc/300" alt="">
        </div>

        <!-- user info -->
        <div class="flex flex-col space-y-2">
            <span class="text-gray-500">Membre depuis {{ this.getCompanySince() }}</span>
            <div class="flex items-center space-x-2">
                <span class="text-gray-500">Statut</span>
                <!-- green or yellow badge -->
                <div class="flex space-x-1 items-center justify-center bg-green-300 p-2 rounded-lg">
                    <fa-icon [icon]="faCheck" class="text-sm text-white"></fa-icon>
                    <span class="text-sm text-white">vérifié</span>
                </div>

<!--                <div class="flex space-x-1 items-center justify-center bg-yellow-300 p-2 rounded-lg">-->
<!--                    <fa-icon [icon]="faTriangleExclamation" class="text-sm text-white"></fa-icon>-->
<!--                    <span class="text-sm text-white">non vérifié</span>-->
<!--                </div>-->
            </div>
        </div>
    </div>

    <div class="flex justify-between space-x-4">
        <div class="bg-gray-200 p-4 flex flex-col space-y-2 w-full rounded">
            <div class="flex items-center justify-center bg-blue-300 p-4 rounded w-14 h-14">
                <fa-icon [icon]="faCalendar" class="text-2xl text-white"></fa-icon>
            </div>

            <div class="flex flex-col">
                <h1 class="text-lg font-semibold">1</h1>
                <span class="text-gray-400">événements créés</span>
            </div>
        </div>

        <div class="bg-gray-200 p-4 flex flex-col space-y-2 w-full rounded">
            <div class="flex items-center justify-center bg-blue-300 p-4 rounded w-14 h-14">
                <fa-icon [icon]="faPeopleGroup" class="text-2xl text-white"></fa-icon>
            </div>

            <div class="flex flex-col">
                <h1 class="text-lg font-semibold">3</h1>
                <span class="text-gray-400">abonnés</span>
            </div>
        </div>
    </div>

    <button
        class="flex items-center text-blue-500 text-sm font-semibold rounded-lg hover:bg-gray-100 focus:outline-none focus:shadow-outline focus:bg-gray-100 hover:shadow-xs p-3 my-4">
        <fa-icon [icon]="faUserPlus"></fa-icon>
        <span class="ml-2">S'abonner</span>
    </button>

    <!-- line divider -->
    <div class="w-full h-0.5 bg-gray-200"></div>

    <div class="flex flex-col w-full">
        <!-- ngIf no events, print message -->
        <p *ngIf="organizedEvents.length == 0" class="text-gray-700">Aucun évènement organisé</p>

        <div *ngIf="organizedEvents.length > 0" class="flex flex-col space-y-4">
            <p class="text-gray-700">Evènements organisés : </p>
            <div *ngFor="let event of organizedEvents">
                <app-mini-card [event]="event" [showOrganizer]="false" class="w-full"></app-mini-card>
            </div>
        </div>
    </div>
</div>

<!-- <div
    class="flex flex-col items-center w-9/12 p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ selectedCompany.name }}</h5>
    <p class="mb-2 text-sm font-medium text-gray-500 dark:text-gray-400">Type : {{ selectedCompany.type }} </p>
    <p *ngIf="selectedCompany.categories.length > 0" class="mb-2 text-sm font-medium text-gray-500 dark:text-gray-400">
        Catégorie : {{ selectedCompany.categories
        }} </p>
    <p class="font-normal text-gray-700 dark:text-gray-400"> Adresse : {{ selectedCompany.location }} </p>
    <p class="font-normal text-gray-700 dark:text-gray-400"> Description : {{ selectedCompany.description }} </p>

</div> -->
